page-elegir {
    font-family: DINCondensed;
    
    .fondo {
        background: #223259;
    }
    .atras{
        width: 30px;
        height: 30px;
        filter: invert(100%);
    }
   
    .h1{
        color: white;
        top: 40px;
        font-size:40px;
    }
    .earth{
        margin-top:70px;
        width: 320px;
        height: 320px;
    }
    .continents{
        margin-top:70px;
        width: 550px;
        height: 320px;
    }

    .filatexto{
        color: white;
        font-size: 40px;
    }
}
