<ion-content padding class="fondo">
  <header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/images/atras.png" (click)="atras()" class="atras">
        </ion-col>
        <ion-col>
          <h1 class="h1" align="center">Perfil </h1>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </header>

  <ion-grid>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <ion-row align="center">
          <ion-col col-7 no-padding class="contentFoto">
            <img src="assets/images/perfil2.png" class="foto"> </ion-col>
          <ion-col col-5 no-padding align-self-start>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-row>
                  <img style="width: 100%;height: 100%;" src="assets/images/golden-star.png">
                </ion-row>
                <ion-row>
                  <p class="puntos">{{mejorpuntuacion}}</p>
                </ion-row>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <ion-row>
                  <img style="width: 100%;height: 100%;" src="assets/images/silver-star.png">
                </ion-row>
                <ion-row>
                  <p class="puntos">{{segundamejor}}</p>
                </ion-row>
              </ion-col>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-row>
                  <img style="width: 100%;height: 100%;" src="assets/images/Bronze-star.png">
                </ion-row>
                <ion-row>
                  <p class="puntos">{{tercera}}</p>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="caja" *ngIf="!modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Nombre de Usuario:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input [(ngModel)]="nombreUser" class="info" [readonly]="true">{{nombreUser}}</ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="caja" *ngIf="modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Nombre de Usuario:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input [(ngModel)]="nombreUser" class="info">{{nombreUser}}</ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="caja" *ngIf="!modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Correo electrónico:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input type="email" [(ngModel)]="email" class="info" [readonly]="true">{{email}}</ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="caja" *ngIf="modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Correo electrónico:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input type="email" [(ngModel)]="email" class="info">{{email}}</ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="caja" *ngIf="!modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Pais:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input type="text" [(ngModel)]="pais" class="info" [readonly]="true">{{pais}}</ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="caja" *ngIf="modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Pais:</ion-label>
          </ion-col>
          <ion-col col-7 no-padding>
            <ion-input type="text" [(ngModel)]="pais" class="info">{{pais}}</ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="caja" *ngIf="!modificar">
          <ion-col col-5 no-padding>
            <ion-label class="letra">Contraseña:</ion-label>
          </ion-col>
          <ion-col col-5 no-padding>
            <ion-input *ngIf="!passText" type="password" [(ngModel)]="password" class="info" [readonly]="true"> {{password}} </ion-input>
            <ion-input *ngIf="passText" type="text" [(ngModel)]="password" class="info" [readonly]="true"> {{password}} </ion-input>
          </ion-col>
          <ion-col col-2 no-padding>
            <button *ngIf="!passText" class="ojo" (click)="mostratPass()">
              <ion-icon name="eye-off"></ion-icon>
            </button>
            <button *ngIf="passText" class="ojo" (click)="ocultarPass()">
                <ion-icon name="eye"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row class="caja" *ngIf="modificar">
            <ion-col col-5 no-padding>
                <ion-label class="letra">Contraseña:</ion-label>
              </ion-col>
              <ion-col col-5 no-padding>
                <ion-input *ngIf="!passText" type="password" [(ngModel)]="password" class="info"> {{password}} </ion-input>
                <ion-input *ngIf="passText" type="text" [(ngModel)]="password" class="info"> {{password}} </ion-input>
              </ion-col>
              <ion-col col-2 no-padding>
                <button *ngIf="!passText" class="ojo" (click)="mostratPass()">
                  <ion-icon name="eye-off"></ion-icon>
                </button>
                <button *ngIf="passText" class="ojo" (click)="ocultarPass()">
                    <ion-icon name="eye"></ion-icon>
                </button>
              </ion-col>
        </ion-row>

        <ion-row *ngIf="!modificar">
          <ion-col col-4 no-padding></ion-col>
          <ion-col col-4 no-padding>
            <button ion-button style="margin-top:5%; margin-left:15%" color="danger" (click)="modificarInfo()"> Modificar</button>
          </ion-col>
          <ion-col col-4 no-padding></ion-col>
        </ion-row>
        <ion-row *ngIf="modificar">
          <ion-col col-2 no-padding></ion-col>
          <ion-col col-4 no-padding>
            <button ion-button style="margin-top:5%; margin-left:15%" color="danger" (click)="cancelar()">Cancelar</button>
          </ion-col>
          <ion-col col-4 no-padding>
            <button ion-button style="margin-top:5%; margin-left:15%" color="secondary" (click)="actualizar()">Actualizar</button>
          </ion-col>
          <ion-col col-2 no-padding></ion-col>
        </ion-row>

      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>