page-perfil {
    .fondo {
        background: #223259;
    }
    .h1{
        color: white;
        top: 40px;
        font-size:40px;
        font-family: DINCondensed;
        
    }
    .atras{
        filter:invert(100%);        
        width: 30px;
        height: 30px;
    }
}
