page-jugartodo {
    .fondo{
        background: #223259;
    }
    
    #streetview{
        width: 65%;
        height: 65%;
        margin-left: 1%;        
        float: left;
        border-width: 4px;
        border-color: black;
        border-style: solid;
        border-radius: 4px;
        margin-bottom: 0.5%;
    }
    #map {
        position: absolute;
        margin-left: 67%;
        width: 32%;
        height: 50%;
        border-width: 3px;
        border-color: black;
        border-style: solid;
      }

      .atras{
        width: 30px;
        height: 30px;
        filter: invert(100%);
    }
    .h1{
        color: white;
        font-size:40px;
        font-family: DINCondensed;
    }
    .advertencia{
        color: rgb(194, 194, 194);
        margin: 0px;
        width: 500px;
    }
      .aceptar{
          font-size: 25px;
          font-weight: bold;
          margin-top: 26%;
          margin-left: 77%;
          width: 150px;
          height: 50px;
          background-color: rgb(0, 255, 42);
          display: block;
          border-radius: 50px;
          border-width: 2px;
          border-color: black;
          border-style: solid;

      }

      .tiempo {
        color: white;
        text-align: center;
        font-size: 20px;
        margin-top: 1%;
        margin-left: 67%;
        padding: 0px;
        width: 32%;
        height: 15%;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        border-radius: 20px;
      }

      .malapartida{
          background-color: rgb(201, 0, 0);
          padding-left: 10px;
          border-radius: 20px;
          width: 500px;
          height: 100px;
          margin-top: -75px;
          margin-left: 15%;
          display: flex;
          

          .vaya{
            padding-top: 18px;
            font-size: 22px;
            font-weight: bold;
            }
            .puntos{
                margin-left: 40px;
                font-size: 20px;
                margin-top: 40px;
                
            }
            .cantidad{
                margin-left: 10px;
                font-size: 20px;
                font-weight: bold;
                margin-top: 40px;
                
            }
      }
      .buenapartida{
        background-color: rgb(48, 150, 1);
        padding-left: 10px;
        border-radius: 20px;
        width: 500px;
        height: 100px;
        margin-top: -75px;
        margin-left: 15%;
        display: flex;

        .vaya{
          padding-top: 18px;
          font-size: 22px;
          font-weight: bold;
          
          }
          .puntos{
              margin-left: 90px;
              font-size: 20px;
              margin-top: 40px;
          }
          .cantidad{
            margin-left: 10px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
            
        }
    }

      .siguiente{
        font-size: 18px;
        font-weight: bold;
        margin-top: -7%;
        margin-left: 77%;
        width: 150px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;

    }

      //Quitar textos e iconos del mapa
      .a, button{
        display: none;
        }
      .gmnoprint gm-style-cc{
        display:none;        
      }
      .ion-action-sheet {
        display:none;        
      }
      .gm-style-cc{
        display:none;                
      }
      .gm-iv-address{
          display: none;
      }
      .gm-svpc{
          display:none;
      }
      .gmnoscreen{
          display:none;
      }
      
}
