<ion-content class="fondo">

    <header>
        <ion-grid>
          <ion-row>
              <ion-col>
                      <img src="assets/images/atras.png" (click)="atras()" class="atras">
              </ion-col>
              <ion-col>
                      <h1 class="h1" align="center">¡Elige un punto en el mapa!</h1>
                      <p class="advertencia" align="center">(Utiliza el botón derecho para colocar el marcador)</p>                           
              </ion-col>
              <ion-col>
              </ion-col>
          </ion-row>
      </ion-grid> 
      </header>

  <div #streetview id="streetview"></div>

  <div #map id="map"></div>
  
  <button class="aceptar" (click)="aceptar()">Aceptar</button>

  <div class="buenapartida" [style.display]="buenapartida ? 'flex' : 'none'">
    <p class="vaya">¡Bien hecho!</p>
    <div style="display:flex">
      <p class="puntos">Puntos del turno {{turno+1}}:</p><p class="cantidad"> {{puntospartida}}</p>
    </div>
  </div>
  <div class="malapartida" [style.display]="malapartida ? 'flex' : 'none'">
      <p class="vaya">¡Vaya! ¡Un poco lejos!</p>
      <div style="display:flex">
        <p class="puntos">Puntos del turno {{turno+1}}:</p><p class="cantidad"> {{puntospartida}}</p>
      </div>
    </div>

  <button *ngIf="turno != 4"class="siguiente" (click)="siguienteturno()" [style.display]="siguiente ? 'block' : 'none'">Siguiente turno</button>    
  <button *ngIf="turno == 4" class="siguiente" (click)="siguienteturno()" [style.display]="siguiente ? 'block' : 'none'">Finalizar</button>
</ion-content>
