page-amigos {
    .fondo {
        background: #223259;
    }
    .h1{
        top: 40px;
        font-size:40px;
        font-family: DINCondensed;
        color: white;
    }
    .atras{
        filter: invert(100%);
        width: 30px;
        height: 30px;
    }
    .addfriend{
        width: 70px;
        height: 70px;
        margin-right: 11px;
    }
    .textoadd{
        color: white;
        font-family: DINCondensed;
        font-size: 20px;
        margin-top: -3px;
    }
}
