page-ranking {
    .fondo {
        background:linear-gradient(to bottom, #0a7500 10%, #54f86a 90%);
    }
    .atras{
        color:white;
        width: 30px;
        height: 30px;
    }
    .grid2{
        width: 100%;
        margin-left: 5%;
    }
    .h1{
        top: 40px;
        font-size:40px;
        font-family: DINCondensed;
        
    }
    .titulos{
        width: 900px;
        margin-left:4%;
        background-color: rgb(201, 201, 201);
        font-family: DINCondensed;
        font-size: 30px;
        border-bottom: 5px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;        
    }
    .fila{
        width: 900px;
        margin-left:4%;        
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
