page-ranking {
    .fondo {
        background: #223259;
    }
    .h1{
        color: white;
        top: 40px;
        font-size:40px;
        font-family: DINCondensed;
        
    }
    .atras{
        filter:invert(100%);        
        width: 30px;
        height: 30px;
    }

    .titulos{
        width: 900px;
        margin-left:4%;
        background-color: rgb(201, 201, 201);
        font-family: DINCondensed;
        font-size: 30px;
        border-bottom: 5px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;        
    }
    .fila{
        width: 900px;
        margin-left:4%;        
        background-color: rgb(255, 255, 255);
        font-size: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
